.image{
    border: solid 10px black;
    max-width:500vw;
    display: block;
    margin-left: auto;
    margin-right: auto
}
h2{
    
    font-style: italic;
    margin-left: auto;
    margin-right:auto;
    width:fit-content;
}
h1{
    color: brown;
    margin-left: auto;
    margin-right:auto;
    width:fit-content;
}